<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- pouchdb js -->
    <script src="lib/pouchdb/dist/pouchdb.js"></script>
    <script src="lib/pouchdb-load/dist/pouchdb.load.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller='mainCtrl'>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">DumpLoad App</h1>
      </ion-header-bar>
      <ion-content>
        <span>Status: {{status_log}}</span>
        <br><br>
        <span>Server IP: {{server_ip}}</span>
        <br><br>
        <span>dumped_string? {{dumped_string}}</span>

        <button class="button button-block button-positive" type="button"
          ng-disabled="!dumped_string"
          ng-click="upload_to_server()">
          Upload dump to Server
        </button>
        {{ upload_to_server_status }}
        <br><br>
        <span>================== FILE </span>
        <button class="button button-block button-dark" type="button"
          ng-click="write_dump_to_file()">
          write dump to file
        </button>
        <span>{{ write_file_status }}</span>
        <br><br>
        <button class="button button-block button-assertive" type="button"
          ng-click="deleteFile()">
          deleteFile
        </button>
        {{ delete_file_status }}
        <br><br>
        <button class="button button-block button-balanced" type="button"
          ng-click="readFile()">
          readFile
        </button>
        {{ read_file_status }}
        <br><br>
        <button class="button button-block button-dark" type="button"
          ng-click="print_dumpedString_data()">
          print dumpedString_data
        </button>
        <br><br>
        <button class="button button-block button-balanced" type="button"
          ng-click="empty_dumpedString_data()">
          Empty dumpedString_data
        </button>
        <br><br>

        <span>================== PouchDB</span>
        <button class="button button-block button-balanced" type="button"
          ng-click="load_dump_to_couchdb_server()">
          load dump to couchdb server
        </button>
        <br><br>
        <button class="button button-block button-dark" type="button"
          ng-click="load_dump_to_local_pouchdb()">
          load dump to local pouchdb
        </button>
        <br><br>
        <button class="button button-block button-positive" type="button"
          ng-click="sync_local_to_couchdb()">
          sync_local_to_couchdb
        </button>
        <br><br>
        <span>Client Sent: {{rec_data}}</span>
        <br><br>

        <button class="button button-block button-assertive" type="button"
          ng-click="see_all_docs()">
          See all docs
        </button>

        <input type="text" name="name" ng-model="doc_filter" placeholder="search doc">
        <span>Number of docs: {{ docs.length }}</span>
        <ion-list>
          <ion-item ng-repeat="doc in docs | filter:doc_filter ">
            ID: {{ doc.doc._id | limitTo:4 }} - Name: {{ doc.doc.name }} - Profession: {{ doc.doc.profession }}
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-pane>
  </body>
</html>
